* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.header {
  padding: 33px 230px 88px 230px;
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 170px;
     -moz-column-gap: 170px;
          column-gap: 170px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 156px;
     -moz-column-gap: 156px;
          column-gap: 156px;
}
.header__title {
  width: 106px;
  height: 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu_link {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.header__number {
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enjoy {
  padding: 88px 144px 208px 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.enjoy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.enjoy__info {
  width: 50%;
}
.enjoy__play {
  color: var(--c-72535, #C72535);
  font-family: Hind Siliguri sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.32px;
  text-transform: uppercase;
  width: 166px;
  opacity: 0.6;
  margin-top: 50px;
}
.enjoy__title {
  width: 555px;
}
.enjoy__the {
  width: 515px;
  opacity: 0.6;
  color: #030D15;
  font-family: Hind Siliguri sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-top: 29px;
}
.enjoy__mainphoto {
  width: 643px;
  height: 611px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.enjoy__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 66px;
     -moz-column-gap: 66px;
          column-gap: 66px;
  margin-top: 31px;
}
.enjoy__btn1 {
  padding: 16px 35px 16px 34px;
  gap: 10px;
  border: 1px solid #247CC0;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Hind Siliguri sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background: #247CC0;
}
.enjoy__btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  color: #030D15;
  font-family: Hind Siliguri sans-serif;
  font-size: 20px;
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 27px;
}
.enjoy__btn2__text {
  color: #030D15;
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  text-decoration-line: line-through;
  opacity: 0.5;
}
.enjoy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  padding: 74px 118px 74px 118px;
  -webkit-column-gap: 84px;
     -moz-column-gap: 84px;
          column-gap: 84px;
}
.enjoy__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.enjoy__item-sum {
  width: 163px;
  height: 85px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.posts__top {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  padding: 120px 0 180px;
  text-align: center;
}
.form h2 {
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  margin: 10px 0 60px;
}
.form p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.form__submit input {
  width: 422px;
  height: 52px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #D7DADD;
}
.form__submit button {
  background: linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%);
  width: 154px;
  height: 52px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 325% */
  letter-spacing: 0.5px;
  border: none;
  border-radius: 4px;
}

.carousel .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 240px 160px 230px;
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
}
.carousel__img {
  width: 262px;
  height: 248px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: url, lightgray 32.856px 29.548px/74.912% 79.141% no-repeat;
}
.carousel__card {
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
}
.carousel__card__h {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}
.carousel__card__p {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  opacity: 0.6;
  width: 256px;
  margin-bottom: 9px;
}
.carousel__card__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--B, #030D15);
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  margin-top: 16px;
}
.carousel__card__div1__p2 {
  color: var(--B, #030D15);
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px; /* 192.857% */
  text-decoration-line: line-through;
  opacity: 0.5;
}
.carousel__card__uix {
  margin-top: 15px;
  width: 65px;
  height: 11.774px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding: 160px 230px 46px 230px;
}
.color__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(257deg, #008BF0 -13.2%, #D943C9 130.95%);
  width: 555px;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.color__right__info {
  margin: 60px 0 75px 35px;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
}
.color__right__info__get {
  color: var(--e-6-edf-2, #F4F9FC);
  font-family: Hind Siliguri sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  opacity: 0.6;
  text-align: center;
}
.color__right__info__h1 {
  color: var(--e-6-edf-2, #F4F9FC);
  font-family: Hind Siliguri sans-serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 40.3px;
  width: 249px;
  text-align: center;
}
.color__right__info__now {
  color: var(--e-6-edf-2, #F4F9FC);
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  text-transform: uppercase;
}
.color__right__img {
  width: 275px;
  height: 231px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: -30px 35px 95px 0;
}
.color__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(257deg, #008BF0 -13.2%, #D943C9 130.95%);
  width: 555px;
  height: 296px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.color__left__info {
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  margin: 60px 0 75px 35px;
}
.color__left__info__get {
  color: var(--e-6-edf-2, #F4F9FC);
  font-family: Hind Siliguri sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  opacity: 0.6;
  text-align: center;
}
.color__left__info__h1 {
  color: var(--e-6-edf-2, #F4F9FC);
  font-family: Hind Siliguri sans-serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 40.3px;
  width: 249px;
  text-align: center;
}
.color__left__info__now {
  color: var(--e-6-edf-2, #F4F9FC);
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  text-transform: uppercase;
}
.color__left__img {
  width: 238.117px;
  height: 151.263px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 36px 25px 56px 0;
}

.about {
  height: 225px;
  width: 1260px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 1px 309px -30px -150px;
}
.about__gtr {
  margin-right: -309px;
}
.about__gtr__h1 {
  color: var(--c-72535, #C72535);
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.03px;
  text-transform: uppercase;
  opacity: 0.6;
}
.about__gtr__h2 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.question {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.question__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--e-6-edf-2, #F4F9FC);
  width: 1260px;
  height: 632px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 84px 230px 98px 0;
}
.question__img {
  width: 400px;
  height: 500px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url path-to-image, lightgray 0px -0.243px/100% 100.06% no-repeat;
  fill: #247CC0;
}
.question__info {
  width: 50%;
  margin-left: 200px;
}
.question__who {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 457px;
  opacity: 0.6;
  width: 457px;
}
.question__list {
  margin-top: 40px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.question__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
}

.online {
  padding-top: 150px;
}
.online__fer__subtitle {
  color: var(--c-72535, #C72535);
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.03px;
  text-transform: uppercase;
  opacity: 0.6;
}
.online__fer__title {
  color: var(--B, #030D15);
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.online__tabs {
  margin: 22px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.online__tabs-tab {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.6;
  cursor: pointer;
  border: 1px solid transparent;
}
.online__tabs-tab.active {
  border: 1px solid #FF3F3A;
  border-radius: 4px;
  color: #FF3F3A;
}
.online__tabs-tab.active svg path {
  fill: #FF3F3A;
}
.online__tabs-tab:hover {
  border: 1px solid #FF3F3A;
  border-radius: 4px;
  color: #FF3F3A;
}
.online__tabs-tab:hover svg path {
  fill: #FF3F3A;
}
.online__label {
  position: relative;
  margin-left: 100px;
}
.online__el {
  position: absolute;
  top: 15px;
  right: 14px;
}
.online__input {
  width: 315px;
  height: 44px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  border: 1px solid var(--gray-400, #D7DADD);
  padding-left: 16px;
  outline: none;
}
.online-text {
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 12px;
}
.online__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.online__card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
  width: 360px;
  height: 503px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.online__card__nln {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-left: 30px;
  margin-top: 20px;
}
.online__card__zvezda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 125px;
     -moz-column-gap: 125px;
          column-gap: 125px;
  margin-top: 7px;
  margin-left: 35px;
}
.online__card__price3 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-left: 35px;
}
.online__card__price3__price4 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  text-decoration-line: line-through;
  opacity: 0.5;
}
.online__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
.online__card__info__mark2 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 85px 0 0 35px;
}
.online__card__info__mark1 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 30px 0 0 35px;
}
.online__card__info__mark3 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 20px 0 0 35px;
}
.online__card__info__mark4 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 42px 0 0 35px;
}
.online__card__info__mark5 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 85px 0 0 35px;
}
.online__card__info__p {
  width: 22px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.online__card__nln {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.online__card__img1 {
  width: 286px;
  height: 273px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 35px 37px 0 37px;
}
.online__card__img2 {
  width: 243px;
  height: 232px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url, lightgray 50%/cover no-repeat;
  margin: 74px 59px 0 59px;
}
.online__card__img3 {
  width: 265px;
  height: 140px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 112px 48px 0 47px;
}
.online__card__img4 {
  width: 326px;
  height: 313px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 15px 17px 0 17px;
}
.online__card__price {
  width: 84px;
  height: 15.216px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 7px;
  margin-left: 35px;
}
.online__card__img5 {
  width: 275px;
  height: 262px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url, lightgray 37.314px 43.32px/73.565% 77.211% no-repeat;
  margin: 41px 42px 0 42px;
}
.online__card__img6 {
  width: 266px;
  height: 253px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 49px 47px 0 47px;
  background: url, lightgray 0px -6.27px/100% 104.956% no-repeat;
}
.online__card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin: 21px 0;
}
.online__card__price1 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35px;
}
.online__card__price1__price2 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  text-decoration-line: line-through;
  opacity: 0.5;
}
.online__bottom {
  color: var(--B, #030D15);
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 56px 0 146px 0;
}

.offline {
  padding-top: 150px;
}
.offline__fer__subtitle {
  color: var(--c-72535, #C72535);
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.03px;
  text-transform: uppercase;
  opacity: 0.6;
}
.offline__fer__title {
  color: var(--B, #030D15);
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offline__fer__text {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  width: 457px;
  text-align: center;
  opacity: 0.6;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 420px;
}
.offline__carden {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  width: 360px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.offline__carden__img5 {
  width: 300px;
  height: 400px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
  margin: 36px 37px 45px 25px;
}
.offline__carden__img6 {
  width: 360px;
  height: 354px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: url, lightgray 59.671px 46.048px/67.594% 68.74% no-repeat;
  margin-top: 30px;
}
.offline__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.offline__carder {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offline__carder__img4 {
  width: 360px;
  height: 252px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.offline__carder__img7 {
  width: 360px;
  height: 252px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.offline__carder__img8 {
  width: 360px;
  height: 252px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url, lightgray 50%/cover no-repeat;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offline__cardes__pryce3 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
.offline__cardes__pryce4 {
  color: var(--B, #030D15);
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  text-decoration-line: line-through;
  opacity: 0.5;
}
.offline__cardes__card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
}
.offline__cardes__card__im1 {
  width: 360px;
  height: 354px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
}
.offline__cardes__card__im1__ine {
  width: 220px;
  height: 161px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offline__cardes__card__img2 {
  width: 300px;
  height: 400px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
  margin: 36px 37px 45px 25px;
}

.form {
  background: #F4F9FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1260px;
  height: 310px;
  -webkit-column-gap: 300px;
     -moz-column-gap: 300px;
          column-gap: 300px;
  padding: 70px 0 70px 180px;
}
.form__text__red {
  color: #C72535;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.03px;
  text-transform: uppercase;
  opacity: 0.6;
}
.form__text__black {
  color: #030D15;
  font-family: Hind Siliguri sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form__text__blue {
  color: #030D15;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  opacity: 0.6;
  width: 360px;
  margin-top: 10px;
}
.form__culm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 160px 0 130px 0;
}
.form__culm__submit {
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  color: #FFF;
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.form__culm__submit input {
  width: 300px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
}
.form__culm__submit button {
  background: var(--p, #247CC0);
  width: 100px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.footer {
  background: #030D15;
  height: 396px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__texts__url {
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  margin-top: 75px;
}
.footer__texts__url__h1 {
  width: 164px;
  color: #FFF;
  font-family: Hind Siliguri sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer__texts__url__ul {
  color: #FFF;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
  width: 164px;
  margin-top: 26px;
}
.footer__texts__url__li {
  margin-top: 15px;
}
.footer__texts__url__store {
  color: #FFF;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 261px;
  opacity: 0.6;
  margin-top: 22px;
}
.footer__texts__url__english {
  color: #FFF;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 26px;
}
.footer__texts__url__span {
  width: 174.641px;
  height: 15.25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  opacity: 0.6;
  margin-top: 16px;
}
.footer__texts__url__com {
  color: #FFF;
  font-family: Hind Siliguri sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 261px;
  margin-top: 14px;
}